@font-face {
    font-family: ohrrpgce;
    src: url(assets/ohrrpgcev5.ttf);
  }

* {
    font-family: ohrrpgce;
    color: #665544;
    text-align: center;
    -webkit-font-smoothing : none;

    /* background: url('assets/backstar.gif'); */
    image-rendering: pixelated;

    cursor: url('assets/cursor.png'), auto;}
body {
    width: 960px;
    margin: 0 auto;}
#content {
    overflow: auto;
    height: 100%;}
#nav, #feature, #footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;}
.column1, .column2, .column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;
    max-height: 400px;
    overflow: scroll;}
li {
    display: inline;
    padding: 5px;}